
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hugging Face Exploration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Input here</h1>
          <textarea id="code" name="code" class="form-control" rows="20"></textarea>
        </div>
        <div class="col-md-6">
          <h1>Here is the result</h1>
          <ul id="suggestions" class="list-group"></ul>
        </div>
      </div>
    </div>
  </body>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>



	
